## Import the Required Dependencies

In [42]:
#Import dependencies
import pandas as pd
from pathlib import Path
import numpy as np
import yfinance as yf
import yahoo_fin.stock_info as si
import os

## Read in the S&P 500 CSV Data File

In [43]:
#Read in the csv file
raw_df = pd.read_csv(
    Path("./Dataset/constituents.csv")
)

## Clean Data for Analysis

In [44]:
print(raw_df["Symbol,Name,Sector"])

#Split Pandas series into individual lists
for row in raw_df:
    string_list=raw_df["Symbol,Name,Sector"].str.split(",")

0                                  MMM,3M,Industrials
1                         AOS,A. O. Smith,Industrials
2                 ABT,Abbott Laboratories,Health Care
3                             ABBV,AbbVie,Health Care
4                            ABMD,Abiomed,Health Care
                            ...
500            YUM,Yum! Brands,Consumer Discretionary
501    ZBRA,Zebra Technologies,Information Technology
502                     ZBH,Zimmer Biomet,Health Care
503                     ZION,Zions Bancorp,Financials
504                            ZTS,Zoetis,Health Care
Name: Symbol,Name,Sector, Length: 505, dtype: object

In [45]:
#View new individual lists
print(string_list)

0                                 [MMM, 3M, Industrials]
1                        [AOS, A. O. Smith, Industrials]
2                [ABT, Abbott Laboratories, Health Care]
3                            [ABBV, AbbVie, Health Care]
4                           [ABMD, Abiomed, Health Care]
                             ...
500           [YUM, Yum! Brands, Consumer Discretionary]
501    [ZBRA, Zebra Technologies, Information Technol...
502                    [ZBH, Zimmer Biomet, Health Care]
503                    [ZION, Zions Bancorp, Financials]
504                           [ZTS, Zoetis, Health Care]
Name: Symbol,Name,Sector, Length: 505, dtype: object

In [66]:
#Create a new list
new_list = []

#Split the elements in these lists by commas
for string in string_list:
    for word in string:
        word.split(",")
        new_list.append(word)

In [47]:
#Group individual elements into groups of 3
chunks = [new_list[x:x+3] for x in range(0, len(new_list), 3)]

In [48]:
#Recreate dataframe with properly grouped chunks
snp500_df = pd.DataFrame(chunks)
snp500_df

        0                    1                       2
0     MMM                   3M             Industrials
1     AOS          A. O. Smith             Industrials
2     ABT  Abbott Laboratories             Health Care
3    ABBV               AbbVie             Health Care
4    ABMD              Abiomed             Health Care
..    ...                  ...                     ...
500   YUM          Yum! Brands  Consumer Discretionary
501  ZBRA   Zebra Technologies  Information Technology
502   ZBH        Zimmer Biomet             Health Care
503  ZION        Zions Bancorp              Financials
504   ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [49]:
#Create new, more descriptive column titles
columns = ["Company Ticker", "Company Name", "Company Industry"]

#Add columns to dataframe using .columns
snp500_df.columns = columns
snp500_df

    Company Ticker         Company Name        Company Industry
0              MMM                   3M             Industrials
1              AOS          A. O. Smith             Industrials
2              ABT  Abbott Laboratories             Health Care
3             ABBV               AbbVie             Health Care
4             ABMD              Abiomed             Health Care
..             ...                  ...                     ...
500            YUM          Yum! Brands  Consumer Discretionary
501           ZBRA   Zebra Technologies  Information Technology
502            ZBH        Zimmer Biomet             Health Care
503           ZION        Zions Bancorp              Financials
504            ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [50]:
snp500_df.set_index("Company Ticker")

                       Company Name        Company Industry
Company Ticker
MMM                              3M             Industrials
AOS                     A. O. Smith             Industrials
ABT             Abbott Laboratories             Health Care
ABBV                         AbbVie             Health Care
ABMD                        Abiomed             Health Care
...                             ...                     ...
YUM                     Yum! Brands  Consumer Discretionary
ZBRA             Zebra Technologies  Information Technology
ZBH                   Zimmer Biomet             Health Care
ZION                  Zions Bancorp              Financials
ZTS                          Zoetis             Health Care

[505 rows x 2 columns]

## Pulling the Historical S&P 500 Data

In [73]:
tickers_df = snp500_df.drop(columns=["Company Name", "Company Industry"])

In [88]:
#Use Yahoo_Fin to pull tickers
sp500_ticker_list = si.tickers_sp500()
#Display first 10 tickers
sp500_ticker_list[0:10]

['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN', 'ADBE']

In [90]:
#Download historical data for S&P 500
sp500_hist_data = yf.download(sp500_ticker_list, start="2017-04-30", end="2020-04-30")
sp500_hist_data.head()

[*********************100%***********************]  506 of 506 completed

2 Failed downloads:
- OGN: Data doesn't exist for startDate = 1493535600, endDate = 1588230000
- CEG: Data doesn't exist for startDate = 1493535600, endDate = 1588230000

            Adj Close                                                          \
                    A        AAL         AAP       AAPL       ABBV        ABC
Date
2017-05-01  53.735779  40.753746  136.387970  34.745358  52.566563  75.697830
2017-05-02  53.860977  42.487331  138.348434  34.965809  52.685165  75.853828
2017-05-03  54.082455  42.535751  138.610474  34.859138  52.772141  75.862991
2017-05-04  54.602482  42.526070  140.541840  34.733509  53.159599  79.405182
2017-05-05  54.544708  43.107159  140.706787  35.309509  52.969822  78.817856

                                                           ...     Volume  \
                  ABMD        ABT         ACN        ADBE  ...       WYNN
Date                                                       ...
2017-05-01  133.570007  40.156704  112.955757  135.110001  ...  2138700.0
2017-05-02  134.279999  40.267536  112.424759  135.000000  ...  1497500.0
2017-05-03  129.889999  40.378376  112.070732  134.850006  ...  1322800.0
2017-05-04  130.809998  41.181873  112.555176  134.610001  ...  1423300.0
2017-05-05  133.029999  41.228050  113.207283  134.839996  ...  3086100.0

                                                                               \
                  XEL         XOM       XRAY        XYL        YUM        ZBH
Date
2017-05-01  2033000.0   8664100.0   753400.0  1140200.0  2235300.0  2195700.0
2017-05-02  2243300.0   9102900.0   923900.0  2205700.0  3240600.0  1160100.0
2017-05-03  1826100.0  10289000.0  1614100.0  1265500.0  4843000.0  1084300.0
2017-05-04  3354200.0  16164500.0  1708900.0  2264300.0  3752200.0  2343500.0
2017-05-05  2051000.0  10213000.0   978000.0  1235700.0  2930200.0  1501100.0


                ZBRA       ZION        ZTS
Date
2017-05-01  273000.0  2902600.0  3607800.0
2017-05-02  284900.0  2636800.0  3728600.0
2017-05-03  202600.0  2503500.0  5795900.0
2017-05-04  209100.0  3267400.0  6923200.0
2017-05-05  315000.0  2355900.0  6896000.0

[5 rows x 3036 columns]

## Pull ESG Data for S&P 500

In [99]:
esg_data = pd.DataFrame()

# Retrieve yfinance Sustainability Scores for each ticker
for i in sp500_ticker_list:
    i_y = yf.Ticker(i)
    try:
        if i_y.sustainability is not None:
            temp = pd.DataFrame.transpose(i_y.sustainability)
            temp['company_ticker'] = str(i_y.ticker)
            #print(temp)
            esg_data = esg_data.append(temp)
    except IndexError:
        pass

In [103]:
# Save data frame as CSV for later use
esg_data.to_csv("sp500_sustainability_scores.csv", encoding="utf-8")