In [4]:
import pandas as pd
from pathlib import Path
import numpy as np
import sqlalchemy

In [5]:
# Using the Pandas read_csv funcion and the Path module, 
# read "sample_esg.csv" file into a Pandas DataFrame
esg_df = pd.read_csv(
    Path("Dataset/sample_esg.csv")
)

# Review the DataFrame
esg_df.head()

  ticker  e_score  s_score  g_score
0   APPL        1        8        1
1   GOOG        3        4        3
2   AMZN        5        2        1
3   COKE        7        1        5
4     BB        8        5        4

In [6]:
# Create the connection string for your SQLite database
database_connection_string = 'sqlite:///'

# Pass the connection string to the SQLAlchemy create_engine function
engine = sqlalchemy.create_engine(database_connection_string)

# Confirm that the database engine was created.
engine

Engine(sqlite:///)

In [9]:
esg_df.to_sql(
    'esg_score_info', #New table name
    engine, 
    index=False, 
    if_exists='replace'
)

# Confirm that the table was created by calling the table_names function
engine.table_names()

/Users/puntepbhayakaporn/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:9: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  if __name__ == '__main__':

['esg_score_info']

In [16]:
# Create and execute a query to return all columns for the 10 highest credit scores.
query1 = """
SELECT *
FROM esg_score_info
WHERE e_score >= 1 AND s_score >= 1 AND g_score >= 2;
"""

# Call on the database engine to execute the query
results = engine.execute(query1)

# List of the results of the database query
list(results)

[('GOOG', 3, 4, 3),
 ('COKE', 7, 1, 5),
 ('BB', 8, 5, 4),
 ('TAP', 1, 8, 8),
 ('JAN', 5, 2, 9)]

In [ ]:
# upload my work on github correctly
# csv name and column name to pull the info
# integrate the SQL code with streamlit